* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
}

.cookie-banner {
    margin-top: 320px;
    box-shadow: 0 15px 45px -12px rgba($color: #001d93, $alpha: .15);
    background: #fff;
    border-radius: 5px;

    &.style1 {
        width: 410px;
        height: 196px;
        padding: 35px 35px 25px;
        
        p {
            font-size: 16px;
            line-height: 25px;
            color: #10182f;
            a {
                display: block;
                text-decoration: underline;
                color: #10182f;
            }
        }
        .actions {
            display: flex;
            justify-content: flex-end;
            margin-top: 25px;
        a {
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: bold;
            width: 132px;
            color: #10182f;
        &.btn {
            background: #10182f;
            color: #fff;
        }
        }
        }
    }
}